<div class="p-3 space-x-1 space-y-3">
    <img class="object-fit p-1" [src]="getProductImg(product)" alt="image">
            <span class="text-xs">{{colorName[selectedColor] | titlecase}}</span>
            <div class="flex gap-2">
                <div *ngFor="let color of product?.availableColor">
                    <img (click)="changeColor(color)" class="w-6 rounded-full" [ngClass]="{'ring ring-offset-2':selectedColor==color}" [src]="getColor(color)">
                </div>
            </div>

            <div><img class="w-12" [src]="getProcessorIcon(product?.processor)"></div>
            <div class="flex flex-col text-2xl font-medium">
                <span>{{product?.cpu}}-core CPU</span>
                <span>{{product?.gpu}}-core GPU</span>
                <span>{{product?.unifiedMemory}} Unified Memory</span>
                <span>{{product?.storage}} Storage<sup class="text-xs">1</sup></span>
            </div>
            
            <div><p [innerHTML]="product?.description"></p></div>

            <div class="text-2xl font-medium">RM {{product?.retailPrice | number: '1.2-2'}}</div>
            <div>or</div>
            <div class="text-2xl font-medium">RM {{ calculateInstalment(product?.retailPrice,selectedInstalmentPeriod) | number: '1.2-2'}} /mo. for {{selectedInstalmentPeriod}} mo.*
            </div>
            <div>
                <a class="link" href="">Explore monthly instalment options <i class="fa fa-angle-right"></i> <i class="fa-light fa-circle-plus"></i></a>
            </div>
            <div>
                <span class="font-medium">Add a trade-in</span>
                <p>
                    Get credit towards a new Mac when you trade in your eligible computer. Or recycle it for free.**
                </p>
                <a class="link" href="">Get started</a>
            </div>

            <div>
                <button class="w-full text-white py-2 rounded-lg bg-blue-500 hover:bg-blue-500/95" (click)="goToOrder(product, selectedColor)">Select</button>
            </div>

            <div>
                <span class="font-medium">Need a moment?</span>
                <p>Keep all your selections by saving this device to Your Saves, then come back anytime and pick up right where you left off.</p>
                <a class="link"><i class="fa fa-bookmark-o"></i> Save for later</a>
            </div>

            <div class="flex gap-2">
                <div><img class="w-8" [src]="imgPath+'icon-box-truck.png'"></div>
                <div class="flex flex-col">
                    <span class="font-medium">Delivery:</span>
                    <span>{{(product.stock != null && product.stock > 0) ?'In Stock': 'Out of Stock'}}</span>
                    <span>Free Shipping</span>
                <a class="link">Get delivery dates</a>
                </div>
                
            </div>
</div>