<div class="container max-w-5xl">
    <div class="grid grid-flow-row grid-cols-2 gap-8">
        <div class="sticky top-0 text-center">
            <div>
                <img [src]="getProductImg()">
            </div>
            <div>
                <div class="inline-block">Free delivery</div>
                <div class="inline-block">Free and easy returns</div>
            </div>
            <div>
                <span>Have questions about buying a Mac?</span>
                <a class="link hover:underline text-blue-800">Chat with a Mac Specialist</a>
            </div>
        </div>

    </div>

</div>

<footer></footer>
<div class="sticky bottom-0">
    <div class="max-w-5xl">
        <div class="grid grid-cols-2">


        </div>
    </div>
</div>