/* .screen-size{
    button.active {
        border-width: 2px;
        border-color: #06c;
    }
} */
/* 
.processor{
    button.active {
        background-color: black;
        color:white;
    }
} */